.ticket {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;

  .ticket-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      width: 50px;
      margin: 8px;
      border-radius: 10%;
      height: auto;
    }
  }
  .ticket-times {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0056b3;
    }
  }
}